@media (max-width:1200px) { /* hi-res laptops and desktops */ 
   
    .hero-text-box {        
        padding: 0 2%;
    }
    
    .row { padding: 0 2%; }

}
@media (max-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
    body { font-size: 18px; }
    section { padding: 60px 0; }

    .steps-box { margin-top: 10px; }
    .steps-box:last-child { margin-top: 10px; }

    .app-screen { width: 50%; }

}
@media (max-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    body { font-size: 15px; }
    section { padding: 30px 0; }
    
    .steps-box:last-child { margin-top: 5px; }
    .row,
    .hero-text-box { padding: 0 4%; }
    .col { 
        width: 100%;
        margin: 0 0 4% 0;
    }
    
    .app-screen { width: 30%; margin-right: 50%;}

}
@media (max-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
    body { font-size: 12px; }
    section { padding: 20px 0; }
}
