* {
 margin: 0;   
 padding: 0;
 box-sizing: border-box;
}

html {
    background-color: white;
    color: #555;
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;    
    margin: 0 auto;
}
/** white spacing **/
section {
    padding: 80px 0;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.685), rgba(0, 0, 0, 0.685)), url(img/background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1,h2,h3  {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    
}
h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 230%;
    word-spacing: 4px;
    
}

h2 {
    margin-bottom: 30px;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15%;
}

h2::after {
    display: block;
    height: 2px;
    background-color: #f39c12;
    width: 100px;
    content: " ";
    margin: 0 auto;
    margin-top: 30px;
}

.my-copy {
    line-height: 145%;
    text-align: center;    
    /*width: 50%;
      margin:25%
    */
}

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s,border 0.2s, color 0.2s;    
}

.btn-full:link,
.btn-full:visited {
    background-color: #f39c12;
    border: 1px solid  #f39c12;
    color: white;
    margin-right: 15px;
}

.btn-2:link,
.btn-2:visited {
    border: 1px solid #f39c12;
    color: #f39c12;
}

.btn:hover,
.btn:active {
    background-color: #d8890b;
}

.btn-full:hover,
.btn-full:active {    
    border: 1px solid  #d8890b;    
}

.btn-2:hover,
.btn-2:active {
    border: 1px solid #d8890b;
    color: #fff;
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 30px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited
 {
    padding: 8px 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2x;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #d8890b;
}

.box {
    padding: 1%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

.icon-big {
    font-size: 300%;
    display: block;
    color: #d8890b;
    margin-bottom: 10px;
}

.meals-show {
    list-style: none;
    width: 100%;
}

.meals-show li {
    display:block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.1);
    transition: transform 0.5s, opacity 0.5s;
}

.section-meals {
    padding: 0%;
}

.meal-photo img:hover {
    transform: scale(1);
    opacity: 1;
}

.step-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}
.step-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

.works-steps {
    margin-bottom: 50px;
}

.works-steps div {
    color: #d8890b;
    border: 2px solid #d8890b;
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 5px;
    
    font-size: 150%;
    margin-right: 25px;

}

.app-screen {
    width:40%
}

.section-steps {
    margin-top: 20px;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/* Sticky navi */
.sticky {
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow:  0 2px 2px #efefef;
    z-index: 9999; /* always on top*/
}

.sticky .main-nav { margin-top: 18px; }

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 16px 0;
    color: #555;
}

.sticky .logo { display: none; }

/*animation*/
.js--wp-1 {
    opacity: 0;
}
.js--wp-1 animated{
    opacity: 1;
}